# Ficheiros sensiveis
.env.local
.env.*.local
.env.production
.env.development

# TOML
*.toml

# JSON (ajusta se necessario)
*.json

# Pasta ambiente virtual
.env/

# Outras pastas
node_modules/
__pycache__/
.venv/
venv/
