python-dotenv
numpy==1.26.4
pydantic
pypdf
ftfy
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
langchain==0.3.25
langchain-community==0.3.24
langchain-huggingface==0.1.2
langchain-groq==0.2.4
langchain-chroma==0.1.4
sentence-transformers>=3.0.0
chromadb==0.5.23
python-docx
unstructured
streamlit
